include ./option-for-dropdown/option-for-dropdown.pug
include ./apply-btn-for-dropdown/apply-btn-for-dropdown.pug

mixin dropdown(options)
  -
    // for dropdown
    var classNameDrop = "dropdown"
    var classNameDropCustom = options.className ? options.className : ''
    var minWidth = options.minWidth ? `${classNameDrop}_min-width-${options.minWidth}` : ''   //- "sm/xs"
    var maxWidth = options.maxWidth ? `${classNameDrop}_max-width-${options.maxWidth}` : ''   //- "sm/xs"
    classNameDrop += ` ${minWidth} ${maxWidth} ${classNameDropCustom}`
    var show = options.show ? 'dropdown__content_show' : ''   //- "true" (при зарузке страницы dropdown будет открытым. Используется в __btn & __content) 
    var showAlways = options.showAlways ? 'true' : ''   //- "true" (при зарузке страницы dropdown будет открытым. Используется в __btn & __content) 

    // for dropdown__btn
    var value = options.value || false
    var type = options.type || "text"
    var focus = options.autofocus ? true : false 
    var title = options.title || 'dropdown' 
    var classNameDrop__btn = "dropdown__btn"
    classNameDrop__btn += options.show ? ` dropdown__btn_expanded ` : ''

    // for dropdown__content
    var id = options.id || false
    var classNameDrop__content = "dropdown__content"
    var noAbsolute = options.noAbsolute ? `${classNameDrop__content}_no-absolute` : ''   //- "true" // C этим классом dropdown не вываливается из потока и показывает контент, отодвигая нижележащие сущности
    classNameDrop__content += ` ${noAbsolute} ${show}`

    // for dropdown__btn-icon
    var classNameDrop__btnIcon = "dropdown__btn-icon"
    classNameDrop__btnIcon += options.show ? ' dropdown__btn-icon-rotate' : ''
  
  div(class = classNameDrop)
    button(class = classNameDrop__btn, value = value, type = type, focus = focus, data-show-always=showAlways)= title
      i(class=`${classNameDrop__btnIcon} material-icons`) expand_more
    div(class = classNameDrop__content, id = id)
      block
