include ./option-for-dropdown/option-for-dropdown.pug
include ../buttons/btn/btn.pug

mixin dropdown(options)
  -
    // for dropdown
    var classNameDrop = "dropdown"
    var classNameDropCustom = options.className ? options.className : ''
    var minWidth = options.minWidth ? ` ${classNameDrop}_min-width-${options.minWidth}` : ''   //- "sm/xs"
    var maxWidth = options.maxWidth ? ` ${classNameDrop}_max-width-${options.maxWidth}` : ''   //- "sm/xs"
    classNameDrop += `${minWidth}${maxWidth} ${classNameDropCustom}`
    var showAlways = options.showAlways ? 'true' : ''   //- "true" (при зарузке страницы dropdown будет открытым) 
    classNameDrop += options.showAlways ? 'dropdown_expanded' : ''
    var typeDrop = options.typeDrop || false  //- "guests", "room-amenities"

    // for dropdown__btn
    var value = options.value || false
    var typeBtn = options.typeBtn || "button"
    var focus = options.autofocus ? true : false 
    var title = options.title || 'dropdown' 
    var classNameDrop__btn = "dropdown__btn"

    // for dropdown__content
    var id = options.id || false
    var classNameDrop__content = "dropdown__content"
    var noAbsolute = options.noAbsolute ? `${classNameDrop__content}_no-absolute` : ''   //- "true" // C этим классом dropdown не вываливается из потока и показывает контент, отодвигая нижележащие сущности
    classNameDrop__content += ` ${noAbsolute}`
    var notSaved = options.notSaved || false      //- "1", "2" (одна или 2 кнопки)

    // for dropdown__btn-icon
    var classNameDrop__btnIcon = "dropdown__btn-icon"
  
  div(class = classNameDrop, data-type-drop=typeDrop, data-show-always=showAlways)
    button(class = classNameDrop__btn, value = value, type = typeBtn, focus = focus)
      span.dropdown__btn-span= title
      i(class=`${classNameDrop__btnIcon} material-icons`) expand_more
    div(class = classNameDrop__content, id = id)
      block
      if (notSaved == "1")
        .dropdown__wrap-btn-apply
          +btn({title: "Применить", varBtn: "minimalism"})
      if (notSaved == "2")
        .dropdown__wrap-btns-clear-apply
          +btn({title: "Очистить", varBtn: "minimalism", deactive: true})
          +btn({title: "Применить", varBtn: "minimalism"})