mixin btn(options)
  -
    var btnClassName = "btn"
    var btn__titleClassName = "btn__title"
    var deactive = options.deactive ? " btn_deactive" : ""
    var title = options.title
    var marginTop = options.marginTop ? ` btn_margin-top-${options.marginTop}` : ''   //- "20"
    var marginBottom = options.marginBottom ? ` btn_margin-bottom-${options.marginBottom}` : ''   //- "30"
    var paddingRight = options.paddingRight ? ` btn_padding-right-${options.paddingRight}` : ''   //- "3"


  case options.varBtn
    when "fill"
      - btnClassName += " btn-fill"
    when "border"
      - btnClassName += " btn-border"
    when "minimalism"
      - btnClassName += " btn-minimalism"

  case options.maxWidthBtn
    when "320"
      - btnClassName += " btn_max-width-320"
    when "200"
      - btnClassName += " btn_max-width-200"
  
  case options.minWidthBtn
    when "250"
      - btnClassName += " btn_min-width-250"

  -
    btnClassName += deactive + marginTop + marginBottom + paddingRight
    btn__titleClassName += paddingRight

  if (options.varBtn == "minimalism") 
    a(class = btnClassName)= title

  else
    div(class = btnClassName)
      div(class = "btn__bg")
      span(class = btn__titleClassName)= title
      if options.isClickable
        <i class="btn__icon material-icons">arrow_forward</i>

    