mixin form-element-title(options)
  -
    var title = options.title || 'Text Field'
    var state = options.state || ''             //- "hover/focus"
    var width = options.width ? `form-element-title__flex-titles_width-${options.width}` : ''   //- "sm"
    var paddingTop = options.paddingTop ? `form-element-title__flex-titles_padding-top-${options.paddingTop}` : ''   //- "40"

  .form-element-title
    div(class=`form-element-title__flex-titles ${width} ${paddingTop}`)
      h3= title
      p.form-element-title__state= state
    block