mixin card-calendar(options)

  - 
    var title = options.title

  .card-calendar
    h1.card-calendar__title= title
    h1.card-calendar__title= title
    h1.card-calendar__title= title
    h1.card-calendar__title= title
    h1.card-calendar__title= title
    h1.card-calendar__title= title
    block



