include ../../form-wrap/form-wrap.pug

mixin card-reg(options)
  -
    var id_num = options.id_num ? `_${options.id_num}` : ''

  div(id=`card-reg${id_num}`).card-reg
    +form-wrap({title: "Регистрация аккаунта", marginBottom: "20"})
      +text-field({placeholder: "Имя",})
      +text-field({placeholder: "Фамилия", marginBottom: "5"})

      +radio-btn({name: `card-reg__sex${id_num}`, id: `card-reg__radio-btn-men${id_num}`, title: "Мужчина", checked: true})
      +radio-btn({name: `card-reg__sex${id_num}`, id: `card-reg__radio-btn-women${id_num}`, title: "Женщина", marginLeft: "20"})
      
      +form-element({title: "дата рождения", paddingTop: "20"})
        +text-field({})

      +form-element({title: "данные для входа в сервис"})
        +text-field({placeholder: "Email"})
        +text-field({placeholder: "Пароль", marginBottom: "5"})

      +toggle-btn({id: `card-reg__toggle-btn${id_num}`, title: "Получать спецпредложения", marginBottom: "20"})
      
      +btn({title: "перейти к оплате", varBtn: "fill", id: `card-reg__btn-next-pay${id_num}`, maxWidthBtn: "320", isClickable: true, marginBottom: "30"})
                  
      .card-reg__flex-wrap-log-in
        p Уже есть аккаунт на Toxin
        +btn({title: "Войти", varBtn: "border", id: `card-reg__btn-log-in${id_num}`})